* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(253, 249, 255);
    background: linear-gradient(76deg, rgba(253, 249, 255, 0.80015756302521) 4%, rgba(255, 242, 242, 1) 37%, rgba(255, 247, 222, 0.9262079831932774) 79%);
}

body div {
    margin: 0.8rem;
    display: flex;
    padding-top: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.headerLeft {
    margin: auto;
}

.portrait {
    max-width: 70%;
    max-height: 38rem;
    height: auto;
    display: flex;
    -webkit-filter: drop-shadow(2px 2px 10px rgb(201, 200, 200));
    filter: drop-shadow(2px 2px 10px rgb(201, 200, 200));
}

.birthInfo {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: rgb(235, 149, 44);
    margin-top: 0.5rem;
}

.headerRight {
    margin: auto;
}

.aboutMe {
    background-color: rgb(250, 186, 129);
    width: auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 5mm;
    color: white;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    margin-bottom: 3rem;
    text-align: left;
    -webkit-filter: drop-shadow(2px 2px 5px rgb(220, 219, 219));
    filter: drop-shadow(2px 2px 5px rgb(220, 219, 219));
}

.firstLetter {
    font-weight: 1000;
    font-size: 5.5mm;
}

.name {
    font-family: 'Caveat', cursive;
    font-weight: lighter;
    font-size: 5mm;
    color: rgb(235, 149, 44);
    text-shadow: 1px 1px 1px rgb(194, 194, 194);
    margin-top: -1rem;
    margin-bottom: 0.5rem;
}

.bottom {
    margin: auto;
    margin-top: -5rem;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    z-index: -1;
}

.bottomLeft {
    width: 91%;
}

.bottomRight {
    display: none !important;
}

.dropdown {
    display: none !important;
}

.workXp {
    background-color: rgb(250, 186, 129);
    padding: 0.8rem;
    padding-bottom: 2rem;
    border: 0.05rem;
    border-style: solid;
    border-color: rgb(247, 179, 119);
    font-family: 'Open Sans', sans-serif;
    color: white;
    width: 91%;
    display: flex;
    text-align: left;
}

.educationH3 {
    margin-bottom: 1rem;
    margin-top: -1rem;
}

.workXpH3 {
    margin-bottom: 1rem;
}

.workParent {
    width: 90%;
}

h3 {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.workList {
    list-style-type: none;
    text-align: left;
    width: inherit;
}

.mobileLanguage {
    background-color: rgb(250, 186, 129);
    width: 91%;
    padding: 0.8rem;
    padding-bottom: 2rem;
    border: 0.05rem;
    border-style: solid;
    border-color: rgb(247, 179, 119);
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.speaking {
    list-style-type: none;
    width: 10rem;
}

.mobileContactGit {
    background-color: rgb(250, 186, 129);
    width: 91%;
    padding: 0.8rem;
    padding-bottom: 2rem;
    border: 0.05rem;
    border-style: solid;
    border-color: rgb(247, 179, 119);
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.contactList {
    list-style-type: none;
    font-size: 3.1mm;
}

a {
    color: white;
}

a:hover {
    color: rgb(235, 149, 44);
}