body div {
    margin: 0.8rem;
    display: flex;
    padding-top: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* headerLeft: portrait, birthinfo. HeaderRight: about and name */

.header {
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.headerRight {
    background-color: white;
    margin: auto;
}

.headerLeft {
    background-color: white;
    margin: auto;
}

.portrait {
    max-width: 70%;
    height: auto;
    display: flex;
    -webkit-filter: drop-shadow(2px 2px 10px rgb(201, 200, 200));
    filter: drop-shadow(2px 2px 10px rgb(201, 200, 200));
}

.birthInfo {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: rgb(235, 149, 44);
}

.aboutMe {
    background-color: rgb(250, 186, 129);
    width: auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 5mm;
    font-style: normal;
    color: white;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    text-align: left;
    -webkit-filter: drop-shadow(2px 2px 5px rgb(220, 219, 219));
    filter: drop-shadow(2px 2px 5px rgb(220, 219, 219));
}

.firstLetter {
    font-weight: 1000;
    font-size: 5.5mm;
}

.name {
    background-color: white;
    font-family: 'Caveat', cursive;
    font-weight: lighter;
    font-size: 5mm;
    color: rgb(235, 149, 44);
    text-shadow: 1px 1px 1px rgb(194, 194, 194);
    margin-bottom: 2rem;
}


/* timeline mid-part of the resume */

.timeline {
    background-color: rgb(116, 111, 111);
    width: auto;
    display: none !important;
}


/* bottom-part: work experience, contact, skills and language */

.bottom {
    background-color: white;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    padding-bottom: 25rem;
}

.bottomLeft {
    height: 18rem;
    margin-bottom: 16rem;
    width: 91%;
}

.bottomRight {
    height: 18rem;
    display: none !important;
}

.workXp {
    background-color: rgb(250, 186, 129);
    padding: 0.8rem;
    padding-bottom: 2rem;
    border: 0.05rem;
    border-style: groove;
    border-color: rgb(0, 0, 0);
    font-family: 'Open Sans', sans-serif;
    color: white;
    margin-top: 37rem;
    width: 91%;
    display: flex;
    text-align: left;
}

.educationH3 {
    margin-bottom: 1rem;
}

.educationParagraph {
    width: 13rem;
    width: auto;
}

.workXpH3 {
    margin-bottom: 1rem;
}

h3 {
    margin-bottom: 1rem;
}

.workXp p {
    margin: auto;
}

.workList {
    list-style-type: none;
    text-align: left;
    width: auto;
    padding: 0;
    margin: 0;
}

.mobileLanguage {
    background-color: rgb(250, 186, 129);
    width: 91%;
    padding: 0.8rem;
    padding-bottom: 2rem;
    border: 0.05rem;
    border-style: groove;
    border-color: rgb(0, 0, 0);
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.speaking {
    list-style-type: none;
    width: 10rem;
    margin: 0;
    padding: 0;
}

.mobileContactGit {
    background-color: rgb(250, 186, 129);
    width: 91%;
    padding: 0.8rem;
    padding-bottom: 2rem;
    border: 0.05rem;
    border-style: groove;
    border-color: rgb(0, 0, 0);
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.contactList {
    list-style-type: none;
    font-size: 3.1mm;
    padding: 0;
    margin: 0;
}

a {
    color: white;
}

a:hover {
    color: rgb(235, 149, 44);
}